@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 2px;
  height: 2px
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #60a5fa; /* blue-500 */
  border-radius: 2px
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6; /* blue-600 */
}

